// Place all the styles related to the locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap"; 

$darkBlue: rgb(31, 56, 78);
$mediumBrown: rgb(155, 131, 92);

* {
  margin: 0;
  padding: 0;
}

#map-canvas { 
	height: 100%;
	img {
		max-width: none;
	}
}

body {
	font-family: 'Open Sans', sans-serif;
}

.gmnoprint img { 
	max-width: none; 
}

.make_bold{
	color: $darkBlue;
	font-weight: bold;
	font-size: 20px;
}

.link {
	color: $darkBlue;
	padding-right: 30px;
}

.link:hover {
	color: black;
	color: $darkBlue;
}

.name {
	color: $darkBlue;
}

.trucks {
	color: $darkBlue;
}

#picture {
	background-image: url('burger.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	z-index: -1;
}

.story {
	padding: 10px;
	position: relative;
	width: 500px;
	top: 100px;
}

.truck_table {
	position: relative;
	left: 550px;
	bottom: 27px;
}

table, th, td {
	border: 1px solid $mediumBrown;
	padding: 7px;
	font-size: 15px;
	color: $darkBlue;
}

td {
	text-align: center;
	color: $darkBlue;
}

.sidebar {
	z-index: 1;
	position: fixed;
	border: 2px solid $mediumBrown;
	border-radius: 10px;
	background: rgba(255, 255, 255, .95);
	right: 7px;
	top: 11px;
	margin-top: 30px;
	padding: 5px;
	width: 230px;
}

.the_map {
	z-index: 0;
	position: relative;
}

footer {
	position: absolute;
	margin: 0 auto;
	width: 100%;
	padding: 10px 10px 10px 10px;
	z-index: 10;
	background: white;
}