<div id='picture'>
	<div class='span6'>
		<div class='story'>
			<p>I am a recent graduate of the Flatiron School where I learned how to build awesome web apps with Ruby on Rails.  This application is tracking the movements of Vendy Award nominated food trucks.  If you would like me to add food trucks to the database, my email is eric.iacutone@gmail.com.</p>
			<p>That is a tasty burger!</p>
		</div>
	</div>
</div>
